body{
    font-family: Arial;
}
/*

.mg-s1{
   margin: 0 1em;
}

.mg-r3{
    margin-right: 3em;
}

.pd-s1{
    padding: 0 1em;
}

.nav{
    font-size: 1.2em;
    background-color: #2c7ccc;
    padding: 1em;
    color: #fff;
}

.filter-section{
    padding: .2em;
    border: 1px solid #fff;
    border-radius: 1em;
}
*/

/*Project Bar styles*/

.progress-bar {
    height: 5px;
    background-color: #6f6f6f;
    width: 100px;
    border-radius: 5px;
}

.filler {
    background: #2e50a5;
    height: 100%;
    border-radius: inherit;
}


/*authorization pages*/

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #252632;
}

.form__container{
    background-color: #2f3242;
    border-radius: .4em;
}

.form__header{
    background-color: #333648;
    color: #fff;
    text-align: center;
    padding: 1em;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    border-top-left-radius: .4em;
    border-top-right-radius: .4em;
}

.input-field{
    display: block;
    padding: .5em 1.5em;
    border: 2px solid #247ace;
    background-color: #2f3242;
    border-radius: 1.2em;
    color: #fff;
    margin:1em;
    outline: none;
}

.input-field_focused:focus{
    background-color: #333648;
}

.button{
    border-radius: .2em;
    margin: 1em auto;
    display: block;
    border: 0;
    background-color: #247ace;
    color: #ffffff;
    font-size: 1rem;
    padding: .5em 1.2em;
}

.button_hovered:hover{
    background-color: #252632;
}

/*Projects list*/

.projects-container{
    background-color: #252632;
    padding: 2em;
}

.projects-container__panel{
    display: flex;
    justify-content: space-around;
    color: #6f6f6f;
}

.project-bar{
    background-color: #333648;
    margin: 1em;
    padding: 1em;
}

.flx-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flx-container__elem{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: .9em;
}

.name-block{
    color: #6f6f6f;
    line-height: 2;
}